@import url(../css/reset.css);
@import url(../css/header.css);
body{
  overflow-x: hidden; 
}
.subject {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sub {
  border: 1px solid #e0e0e0;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 6rem;
  cursor: pointer;
}

.sub:hover {
  background-color: #e0e0e0;
}

.btnActive {
  background-color: #ff7f00;
  color: white;
}
.subject-contents{
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 20px;
}